@use './variables' as *;

@mixin link-border {
  border-bottom: 5px solid $border-color;
  color: $bright-text-color;
}

@mixin mobile-body-text {
  font-size: .875rem;
  font-weight: 600;
  line-height: 22px;
}

//media queries 

@mixin tablet {
  @media screen and (min-width: $tablet) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: $desktop) {
    @content;
  }
}