//colors

$dark-text-color: #323232;
$secondary-text-color: #AFAFAF;
$bright-text-color: #FFF;

$dark-background-color: #323232;
$light-background-color: #FFF;
$light-background-color-alt: #FAFAFA;

$cta-inactive-color: #AFAFAF;
$cta-active-color: #FFF;
$cta-hover-color: #000;

$border-color: #E1E1E1;

$error-color: #D22D2D;

// media query breakpoints

$tablet: 768px;

$desktop: 1280px;