@use './partials/variables' as *;
@use './partials/global' as *;
// removing default margins/padding and setting my own defaults
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: 'Avenir', Tahoma, sans-serif;
}
// header styling
.header {
  background-color: $dark-background-color;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-top: 1rem;

  &__logo {
    max-width: 7.5rem;
  }

  &__link-container {
    display: flex;
    height: 3.25rem;
    width: 100%;
  }

  &__link {
    text-decoration: none;
    flex-basis: 50%;
    color: $cta-inactive-color;
    
    &:hover {
      border-bottom: 5px solid $border-color;
      color: $bright-text-color;
    }

    &--current {
      border-bottom: 5px solid $border-color;
      color: $bright-text-color;
      font-weight: 700;
    }
  }

  &__link-tab {
    text-align: center;
  }
}
// hero styling
.hero {
  background-image: linear-gradient(rgba(50, 50, 50, .5), rgba(50, 50, 50, .5)), url(../assets/images/hero-bio.jpg);
  background-position: center;
  background-size: cover;
  height: 35vh;
  display: flex;
  align-items: center;

  &__title {
    color: $bright-text-color;
    font-size: 1.5rem;
    font-weight: 700;
    padding-left: 1rem;
  }
}
// about the band styling
.about {
  color: $dark-text-color;
  padding: .5rem 1rem;

  &__title {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: .5rem;
  }

  &__image {
    width: 100%;
  }

  &__quote {
    font-size: .875rem;
    font-weight: 600;
    line-height: 22px;
    margin-bottom: 0;
  }

  &__quote-source {
    font-size: .875rem;
    font-weight: 600;
    line-height: 22px;
    margin-top: .5rem;
  }

  &__sub-title {
    font-size: .875rem;
    font-weight: 600;
    margin-top: 1.5rem;
  }

  &__text {
    font-size: .8rem;
    line-height: 18px;
  }
}
// photo gallery styling
.gallery {
  padding: .5rem 1rem 0 1rem;
  background-color: $light-background-color-alt;

  &__title {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: .5rem;
  }

  &__image-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

  &__image {
    width: 100%;
    padding-right: 1rem;
    margin-bottom: 1rem;
  }
}