@use './partials/variables' as *;
@use './partials/global' as *;
@use './partials/mixins' as *;
// removing default margins/padding and setting my own defaults
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: 'Avenir', Tahoma, sans-serif;
}
// hero styling
.hero {
  background-image: linear-gradient(rgba(50, 50, 50, .5), rgba(50, 50, 50, .5)), url(../assets/images/hero-bio.jpg);
  background-position: center;
  background-size: cover;
  height: 60vw;
  display: flex;
  align-items: center;

  @include desktop {
    height: 50vw;
    max-height: 40rem;
  }

  &__title {
    color: $bright-text-color;
    font-size: 7.5vw;
    font-weight: 600;
    padding-left: 1rem;

    @include tablet {
      font-size: 3.75rem;
      padding-left: 2.25rem;
    }

    @include desktop {
      padding-left: 8rem;
    }
  }
}
// about the band styling
.about {
  color: $dark-text-color;
  padding: .5rem 0;

  @include tablet {
    padding: 2rem 0;
  }

  &__container {
    margin: 0 1rem;

    @include tablet {
      margin: 0 6rem;
    }

    @include desktop {
      margin: 0 12rem;
    }
  }

  &__title {
    font-size: 7vw;
    font-weight: 600;
    margin: 1rem;

    // helps title text stay smooth when increasing screen size
    @media screen and (min-width: 425px) {
      font-size: 1.85rem;
      margin-bottom: 2rem;
    }

    @include tablet {
      font-size: 2.25rem;
      margin-left: 2.25rem;
    }

    @include desktop {
      margin-left: 8rem;
    }
  }

  &__image {
    width: 100%;
    height: 55vw;

    @include tablet {
      height: 45vw;
    }

    @include desktop {
      height: 40vw
    }
  }

  &__quote {
    @include mobile-body-text;
    margin-bottom: 0;

    @include tablet {
      font-size: 1.5rem;
      line-height: 32px;
    }

    @include desktop {
      width: 80%;
    }
  }

  &__quote-source {
    @include mobile-body-text;
    margin-top: .5rem;

    @include tablet {
      font-size: 1rem;
      line-height: 32px;
    }
  }

  &__sub-title {
    @include mobile-body-text;
    margin-top: 1.5rem;

    @include tablet {
      font-size: 1.5rem;
      margin: 3rem 0 1rem 0;
    }
  }

  &__text {
    font-size: .8rem;
    line-height: 18px;

    @include tablet {
      font-size: 1rem;
      line-height: 22px;
      width: 47%;
      margin-bottom: 0;
    }

    &--display {
      
      @include tablet {
        display: flex;
        justify-content: space-between;
      }
    }
  }
}
// photo gallery styling
.gallery {
  background-color: $light-background-color-alt;
  padding: .5rem 1rem .75rem 1rem;

  @include tablet {
    padding: 2rem 2.25rem .75rem 2.25rem;
  }

  @include desktop {
    padding: 2rem 8rem .75rem 8rem;
  }

  &__title {
    font-size: 7vw;
    font-weight: 600;

    // helps title text stay smooth when increasing screen size
    @media screen and (min-width: 425px) {
      font-size: 1.85rem;
    }

    @include tablet {
      font-size: 2.25rem;
    }
  }

  &__image-container {
    display: flex;
    flex-wrap: wrap;

    @include tablet {
      justify-content: center;
    }
  }

  &__image {
    width: 100%;
    margin-bottom: 1rem;
    filter: grayscale(75%);

    @include tablet {
      margin: 0 1.5rem 1.5rem 0;
      width: calc((100% - 3rem) / 3);
    }

    &:nth-child(3n) {
      margin-right: 0;
    }

    &:hover {
      filter: grayscale(0);
      transition-duration: .5s;
      // grows the image at tablet+ resolutions when hovering
      @include tablet {
        animation: imageGrow .5s forwards;
        z-index: 1;
      }
    }
    @keyframes imageGrow {
      from {
        transform: scale(1);
      }
      to {
        transform: scale(1.25);
      }
    }
  }
}
// comments section styling
.comments {
  color: $dark-text-color;
  padding: .5rem 0;

  @include tablet {
    padding: 2rem 0;
  }

  &__title {
    font-size: 7vw;
    font-weight: 600;
    margin: .5rem 0 1rem 1rem;

    // helps title text stay smooth when increasing screen size
    @media screen and (min-width: 425px) {
      font-size: 1.85rem;
    }

    @include tablet {
      font-size: 2.25rem;
      margin: 1rem 0 2rem 2.25rem;
    }
  }

  &__container {
    margin: 0 1rem;

    @include tablet {
      margin: 0 6rem;
    }
  }

  &__form {
    display: flex;
    border-bottom: 1px solid $border-color;
    padding-bottom: 1rem;

    @include tablet {
      padding-bottom: 2rem;
    }
  }

  &__form-avatar {
    height: 2.25rem;
    width: 2.25rem;
    border-radius: 50%;
    object-fit: cover;
    object-position: 20% 50%;
    margin: 1rem .75rem 0 0;

    @include tablet {
      height: 3rem;
      width: 3rem;
      margin-top: 1.5rem;
    }
  }

  &__input-wrapper {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  &__label {
    font-size: .75rem;
    font-weight: 600;
    color: $secondary-text-color;

    @include tablet {
      font-size: 1rem;
    }
  }

  &__input {
    background-color: $light-background-color-alt;
    height: 2.25rem;
    width: 100%;
    border: 1px solid $border-color;
    border-radius: 4px;
    padding-left: .5rem;
    margin: .25rem 0 1.25rem 0;
    box-sizing: border-box;

    @include tablet {
      height: 3rem;
      font-size: 1rem;
      padding-left: 1rem;
      margin-bottom: 2rem;
    }

    &active {
      border-color: $dark-background-color;
    }

    &--height {
      height: 7rem;
      padding-bottom: 4.5rem;

      @include tablet {
        padding-bottom: 3.5rem;
      }
    }
  }

  &__button {
    width: 100%;
    height: 2.75rem;
    background-color: $dark-background-color;
    color: $bright-text-color;
    font-size: 1rem;
    border-radius: 4px;

    @include tablet {
      width: 35%;
      align-self: flex-end;
    }
  }
}

.post {
  display: flex;
  border-bottom: 1px solid $border-color;
  margin: .5rem 0;

  @include tablet {
    padding-bottom: 1rem;
  }

  &__avatar {
    height: 2.25rem;
    width: 2.25rem;
    border-radius: 50%;
    object-fit: cover;
    object-position: 20% 50%;
    margin: 1rem .75rem 0 0;

    @include tablet {
      height: 3rem;
      width: 3rem;
    }
  }

  &__text-wrapper {
   
  }

  &__info-wrapper {
    display: flex;
    justify-content: space-between;
  }

  &__username {
    font-weight: 600;
    margin-bottom: .75rem;
  }

  &__timestamp {
    color: $secondary-text-color;
    margin-bottom: .75rem;
  }

  &__text {
    margin-top: 0;
  }
}