@use './partials/variables' as *;
@use './partials/global' as *;
@use './partials/mixins' as *;

//hero styling
.hero {
  background-image: linear-gradient(rgba(50, 50, 50, .5), rgba(50, 50, 50, .5)), url(../assets/images/hero-shows.jpg);
  background-position: center;
  background-size: cover;
  height: fit-content;

  @include desktop {
    height: 50vw;
    max-height: 40rem;
    display: flex;
  }

  &__container {
    width: 100%;
    padding: 1rem 1rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-content: space-evenly;

    @include tablet {
      padding: 2rem 2.25rem;
    }

    @include desktop {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      padding: 0 8rem;
    }
  }

  &__album-title {
    color: $bright-text-color;
    font-size: 1rem;
    font-weight: 400;

    @include tablet {
      font-size: 1.5rem;
      font-weight: 600;
    }
  }

  &__title {
    color: $bright-text-color;
    width: 75%;
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: .5rem;

    @include tablet {
      font-size: 3.75rem;
    }

    @include desktop {
      width: 80%;
    }
  }

  &__iframe {
   width: 18rem;
   height: 7rem;
   margin-bottom: 1rem;

   @include tablet {
     width: 26rem;
     height: 10rem;
    }
    
    @include desktop {
      width: 40rem;
      margin-bottom: 0;
    }
  }
}
// shows section styling
.shows {
  color: $dark-text-color;
  margin: 1rem 0;

  @include tablet {
    margin: 3rem 0 1rem 0;
  }

  @include desktop {
    display: flex;
  }

  &__title {
    font-size: 7vw;
    font-weight: 700;
    margin: 1rem;
    // helps title text stay smooth when increasing screen size
    @media screen and (min-width: 425px) {
      font-size: 1.85rem;
      margin-bottom: 2rem;
    }

    @include tablet {
      font-size: 2.25rem;
      margin-left: 2.25rem;
    }

    @include desktop {
      margin: 0 8rem;
    }
  }

  &__wrapper {
    margin: 0 1rem;

    @include desktop {
      flex-grow: 1;
      margin-right: 6rem;
    }
  }

  &__header-container {
    display: none;

    @include tablet {
      display: flex;
      margin: 0 1rem;
    }
  }

  &__posting {
    padding: 1rem;
    border-bottom: 1px solid $border-color;

    @include tablet {
      display: flex;
      align-items: center;
    }

    &:hover {
      background-color: $light-background-color-alt;
    }

    &--selected {
      background-color: $border-color;
    }
  }

  &__header {
    color: $secondary-text-color;
    font-size: .75rem;
    margin: 0;

    @include tablet {
      display: none;
    }

    &--display {

      @include tablet {
        display: block;
        width: 25%;
      }

      &:first-child {

        @include desktop {
          width: 30%;
        }
      }
    }
  }

  &__info {
    font-weight: 600;
    margin: .5rem 0 1rem 0;

    @include tablet {
      margin: 0;
      width: 25%;
    }

    &--bold {
      font-weight: 700;

      @include desktop {
        width: 30%;
      }
    }
  }

  &__button {
    width: 100%;
    height: 2.75rem;
    background-color: $dark-background-color;
    color: $bright-text-color;
    font-size: 1rem;
    border-radius: 4px;

    @include tablet {
      width: auto;
      padding: 0 2rem;
    }
  }
}